{% extends 'base.html' %}

{% block title %} Kekambas Blog | Home {% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
    <h1>Hello {{ current_user.username }}, you look wonderful today!</h1>
{% else %}
    <h1>Hello, please sign up or log in to use our blog</h1>
{% endif %}
            
{% for game in games %}
    <div class="card">
        <a href="{{ url_for('view_single_game', game_id=game.id) }}">
            <div class="card-header"> {{ game.title }}</div>
        </a>
        <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>{{ game.body }}</p>
        </blockquote>
        </div>
  </div>
{% endfor %}

{% endblock %}