{% extends 'base.html' %}

{% block title %}Game Theory Blog{% endblock %}

{% block content %}
<p>This is a test.</p>

<div>
<img src="https://cdn.britannica.com/66/195966-138-F9E7A828/facts-turtles.jpg?w=800&h=450&c=crop" alt="alternatetext">
</div>

<br>
<div>
<img src="/img/Sunflower.jpg">

</div>


<br>
<br>

<div>
<img src="https://cf.geekdo-images.com/TTQllPzYNV0MoHmrsytv4w__thumb/img/Zjt90vMaHg9WN6vNijmhz1d2HwY=/fit-in/200x150/filters:strip_icc()/pic1019831.jpg">

</div>

<div>
{{ r.content }}    

</div>

{% endblock %}
